.artist{
    margin:0;
    height: auto;
    width: 100%;

}

.artist__row{
    display: flex;
    height: auto;
    width:100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 0 10px 10px;

}

.artist__block{
    display: flex;
    height:550px;
    padding-top: 40px;
    margin: 0 0 10px 10px;
    text-align: center;
}

.artist__block img{
    width: 100%;
    height:auto;


}